
---
import Layout from '../layouts/Layout.astro';
import Services from '../components/Services.astro';
import Services2 from '../components/Services2.astro';
import Procesos from '../components/Procesos.astro';
import ProcesosAcademicos from '../components/ProcesosAcademicos.astro';
import NoticiasComponent from '../components/Noticias.astro';

---

<Layout title="Positivus">
	<main class="space-y-20">
		
		<NoticiasComponent />

	</main>
</Layout>