---
import Layout from '../layouts/Layout.astro';
import Services from '../components/Services.astro';
import Services2 from '../components/Services2.astro';
import PortalTransparenciaComponent from '../components/PortalTransparencia.astro';

---

<Layout title="Positivus">
	<main class="space-y-20">
		
		<PortalTransparenciaComponent />

	</main>
</Layout>