---
import Container from "../../components/Container.astro";
import Layout from '../../layouts/Layout.astro';
import procesosData from '../../components/Data/procesos_academicos.json';

export async function getStaticPaths() {
  return procesosData.map(proceso => ({
    params: { id: proceso.id }
  }));
}

const { id } = Astro.params;
const proceso = procesosData.find(proceso => proceso.id === id);

if (!proceso) {
  throw new Error(`Proceso with id ${id} not found`);
}

const { title, description } = proceso;
export const prerender = true;
---

<Layout title="Proceso Académico">
  <main class="space-y-40 mb-40 pt-24">
    <Container>
      <section class="bg-white">
        <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
          <div class="font-light text-gray-500 sm:text-lg">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">{title}</h2>
            <p class="mb-4">{description}</p>
          </div>
        </div>
      </section>
    </Container>
  </main>
</Layout>
