---
import 'photoswipe/style.css';
import Topic from './Topic.astro';
---
<div class="w-full mx-auto bg-gray-100 pt-4 pb-4 mt-10" id="galeria">
  <div class="w-3/4 mx-auto mt-10">

    <div class="relative flex flex-col items-center mt-16" id="galeria-header">
      <Topic title="Galería" description="Explora los momentos más destacados de nuestra institución a través de esta galería de imágenes." />
    </div>

    <div class="relative flex flex-col items-center mb-8">
      <div class="flex items-center my-4 w-full">
        <div class="flex-grow border-t border-yellow-300"></div>
        <span class="mx-4 text-yellow-300">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
          </svg>
        </span>
        <div class="flex-grow border-t border-yellow-300"></div>
      </div>
      <p class="text-center text-gray-700">
        Bienvenido a nuestra galería educativa. Aquí encontrarás una colección de imágenes que destacan los momentos más significativos de nuestra institución. Desde eventos y ceremonias hasta actividades extracurriculares y logros estudiantiles, esta galería refleja la vitalidad y el compromiso de nuestra comunidad educativa. Haz clic en cualquier imagen para verla en mayor detalle y descubrir más sobre nuestra vida académica y cultural.
      </p>
    </div>

    <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 gap-4 p-4">
      <div>
        <a href="/fotos/foto1.jpeg" data-pswp-width="2500" data-pswp-height="1666" target="_blank">
          <img src="/fotos/foto1.jpeg" alt="Descripción de la imagen 1" class="object-cover object-center h-40 max-w-full rounded-lg hover:scale-105 transition-transform duration-300 ease-in-out"/>
        </a>
      </div>
      <div>
        <a href="/fotos/foto2.jpeg" data-pswp-width="2500" data-pswp-height="1666" target="_blank">
          <img src="/fotos/foto2.jpeg" alt="Descripción de la imagen 2" class="object-cover object-center h-40 max-w-full rounded-lg hover:scale-105 transition-transform duration-300 ease-in-out"/>
        </a>
      </div>
      <div>
        <a href="/fotos/foto3.jpeg" data-pswp-width="2500" data-pswp-height="1666" target="_blank">
          <img src="/fotos/foto3.jpeg" alt="Descripción de la imagen 3" class="object-cover object-center h-40 max-w-full rounded-lg hover:scale-105 transition-transform duration-300 ease-in-out"/>
        </a>
      </div>
      <div>
        <a href="/fotos/foto4.jpeg" data-pswp-width="2500" data-pswp-height="1666" target="_blank">
          <img src="/fotos/foto4.jpeg" alt="Descripción de la imagen 4" class="object-cover object-center h-40 max-w-full rounded-lg hover:scale-105 transition-transform duration-300 ease-in-out"/>
        </a>
      </div>
      <div>
        <a href="/fotos/foto5.jpeg" data-pswp-width="2500" data-pswp-height="1666" target="_blank">
          <img src="/fotos/foto5.jpeg" alt="Descripción de la imagen 5" class="object-cover object-center h-40 max-w-full rounded-lg hover:scale-105 transition-transform duration-300 ease-in-out"/>
        </a>
      </div>
      <div>
        <a href="/fotos/foto6.jpeg" data-pswp-width="2500" data-pswp-height="1666" target="_blank">
          <img src="/fotos/foto6.jpeg" alt="Descripción de la imagen 6" class="object-cover object-center h-40 max-w-full rounded-lg hover:scale-105 transition-transform duration-300 ease-in-out"/>
        </a>
      </div>
     
    </div>
  </div>
</div>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";

  const lightbox = new PhotoSwipeLightbox({
    gallery: '#galeria',
    children: 'a',
    pswpModule: () => import('photoswipe'),
  });
  lightbox.init();
</script>
