---
import Container from "./Container.astro";
import Topic from "./Topic.astro";
---

<Container>
  <div class="space-y-16">

    <!-- Imagen Section -->
    <div class="flex justify-center items-center mt-32">
        <img class="w-full h-full object-cover rounded-lg" src="https://aib.edu.pe/wp-content/uploads/2023/06/IMAGEN-ICHUNA-historia-re-1024x325.jpg" alt="image description">
    </div>

    <!-- Historia Section -->
    <div class="bg-zinc-100 p-6 rounded-lg shadow-md text-left mt-32">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="md:col-span-1 md:mr-8">
          <h2 class="text-2xl font-bold text-gray-900">Historia</h2>
        </div>
        <div class="md:col-span-1 text-gray-700">
          <p>
            Las autoridades de la Comisión Multisectorial del distrito de Ichuña, provincia General Sánchez Cerro del Departamento de Moquegua y el Reverendo Padre de la Parroquia San Ignacio de Loyola Ichuña Lic. Jozef E. VAN DEN OUWELAND con el respaldo y cooperación de las instituciones religiosas del Reino de Bélgica, basándose en un estudio detallado de los aspectos históricos, geográficos, integración vial, economía familiar, crecimiento poblacional y número de centros educativos han emprendido las gestiones pertinentes hasta lograr la creación de un centro superior de estudios: INSTITUTO SUPERIOR TECNOLÓGICO PÚBLICO “ALIANZA ICHUÑA – BÉLGICA” de acuerdo a la Resolución Ministerial Nº: 445-2000 ED de fecha 22 de junio del 2000.
          </p>
          <p class="mt-4">
            Como consecuencia de la gestión realizada en fecha 03 de mayo 2000, se hizo la inauguración del Instituto con presencia de los funcionarios de la Dirección Regional de Educación Moquegua, encabezado por el Director Regional de Educación de entonces Prof. Jorge Fernando LÓPEZ RODAS, fecha en la que se entregó la autorización para el funcionamiento del ISTP “ALIANZA ICHUÑA – BÉLGICA”.
          </p>
          <p class="mt-4">
            EL INSTITUTO SUPERIOR TECNOLÓGICO “ALIANZA ICHUÑA – BÉLGICA” tuvo como Director al Rvdo. Lic. Jozef E. VAN DEN OUWELAND, quien en coordinación con la Comisión Multisectorial el 05 de mayo 2000 a través de un concurso público han seleccionado los primeros 3 docentes, por lo que inmediatamente se ha organizado la comisión de admisión para las carreras profesionales de: Agropecuaria y Computación e Informática, en fecha 14 de mayo del 2000, en donde ingresaron 80 estudiantes (40 en Agropecuaria y 40 en Computación e Informática), y el 15 de mayo del mismo año en ceremonia pública se apertura las actividades académicas con las dos carreras profesionales en el local cedido por la Parroquia San Ignacio de Loyola por cesión en uso durante 10 años, la misma que ha sido construida con visión a la creación de una institución educativa.
          </p>
        </div>
      </div>
    </div>

  </div>
</Container>
