---
import Container from "./Container.astro";
---

<Container>
  <div class="space-y-16">

    <div class="flex justify-center items-center mt-32">
        <img class="w-full h-full object-cover rounded-lg" src="https://aib.edu.pe/wp-content/uploads/2023/06/IMAGEN-ICHUNA-historia-re-1024x325.jpg" alt="image description">
    </div>

    <!-- Misión Section -->
    <div class="bg-yellow-300 p-6 rounded-lg shadow-md text-left mt-32">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <h2 class="text-3xl font-bold text-black">Misión</h2>
        <div class="text-gray-900">
          <p>Somos un Instituto de Educación Superior Pedagógico Público de formación inicial docente y continua; con enfoque intercultural, liderazgo y centrada en el desarrollo del pensamiento crítico reflexivo para la práctica, investigación e innovación educativa con docentes competentes, adecuada infraestructura y soporte tecnológico para asumir los desafíos de la sociedad actual.</p>
        </div>
      </div>
    </div>

    <!-- Visión Section -->
    <div class="bg-black text-yellow-300 p-6 rounded-lg shadow-md text-left">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <h2 class="text-3xl font-bold">Visión</h2>
        <div>
          <p>Al 2026, ser una Escuela de Educación Superior Pedagógica Pública, referente en el país que forma docentes altamente competentes con enfoque intercultural, liderazgo y gestión de calidad; con pensamiento crítico, investigadores e innovadores con capacidad de adaptación según el contexto.</p>
        </div>
      </div>
    </div>

    <!-- Principios Section -->
    <div class="bg-yellow-300 p-6 rounded-lg shadow-md text-left mb-16">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <h2 class="text-3xl font-bold text-black">Principios y Valores</h2>
        <div class="text-gray-900 space-y-6">

          <!-- Principios de la Educación Superior -->
          <div>
            <h3 class="text-xl font-bold">Principios de la Educación Superior</h3>
            <ul class="list-disc list-inside mt-2">
              <li>Calidad educativa</li>
              <li>Pertinencia</li>
              <li>Flexibilidad</li>
              <li>Inclusión social</li>
              <li>Transparencia</li>
              <li>Equidad</li>
              <li>Mérito</li>
              <li>Interculturalidad</li>
              <li>Simplificación Administrativa</li>
            </ul>
          </div>

          <!-- Principios Filosóficos -->
          <div>
            <h3 class="text-xl font-bold">Principios Filosóficos</h3>
            <ul class="list-disc list-inside mt-2">
              <li>La Paridad - Yanantin</li>
              <li>Correspondencia – Tinkuy</li>
              <li>Reciprocidad – Ayni</li>
              <li>Complementariedad – Mink’a</li>
            </ul>
          </div>

          <!-- Principios Pedagógicos -->
          <div>
            <h3 class="text-xl font-bold">Principios Pedagógicos</h3>
            <ul class="list-disc list-inside mt-2">
              <li>Allin Yachay – Saber Bien</li>
              <li>Allin Munay – Querer Bien</li>
              <li>Allin Ruray – Hacer Bien</li>
              <li>Allin Kay – Estar Bien</li>
            </ul>
          </div>

          <!-- Valores Institucionales -->
          <div>
            <h3 class="text-xl font-bold">Valores Institucionales</h3>
            <ul class="list-disc list-inside mt-2">
              <li>Ama LLulla - Veracidad</li>
              <li>Ama Suwa - Honestidad</li>
              <li>Ama Qilla - Laboriosidad</li>
              <li>Ama LLunk’u - Lealtad</li>
              <li>Actuar con veracidad (ama llulla)</li>
              <li>Actuar con honestidad (ama suwa)</li>
              <li>Actuar con laboriosidad (ama qilla)</li>
              <li>Actuar con lealtad (ama llunk’u)</li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </div>
</Container>
