---
import "../styles/global.css";
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
  <head>
    <meta property="og:title" content="Instituto Pedagógico Ichuña Bélgica">
  <meta property="og:description" content="Formación de excelencia en educación con un enfoque innovador. Prepárate para el futuro con nuestros programas académicos de vanguardia.">
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Ichuña-Belgica</title>
    <meta
      name="description"
      content="Instituto Pedagógico Ichuña Bélgica: Formación de excelencia en educación con un enfoque innovador. Prepárate para el futuro con nuestros programas académicos de vanguardia."
    />
	<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
  <ViewTransitions />
  </head>
  <body class="bg-white font-SpaceGrotesk text-F5F5F5">
    <Navbar />
    <slot />
    <Footer/>
  </body>
</html>
